.footer {
    margin-top: 80px;
    display: flex;
}

.footer span {
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 12px;
    opacity: 0.4;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
}