* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background: var(--main-bg-color);
}

.logo {
    user-select: none;
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.logo img {
    margin: 80px 0 72px 0;
}

.main {
    width: var(--main-container-width);
    flex-grow: 1;
    margin: auto;
}

